.THIS #Appointment-table .uiInput--datetime {
	width:100%;
	min-height:37px;
	height:37px;
}
.THIS #Appointment-table input {
	width:100%;
	font-size:12px;
}
.THIS .dateTime {
	max-width:225px;
}
.THIS .saveCancel a {
	display:inline-block;
	cursor:pointer;
}
.THIS .saveCancel a:last-child{
	float:right;
}
.THIS .saveCancel a.marginRight {
	margin-right:20px;
}
.THIS .saveCancel {
	min-width:165px;
	padding-top:19px;
}
.THIS .paginationWrapper {
	float:right;
	margin-top:5px;
}
.THIS .newTaskButton {
	display:inline-block;
	margin-top:-6px;
}
.THIS .pageTitle {
	display:inline-block;
	margin:4px 10px 15px 0;
}
.THIS .container {
	display: flex;
  flex-direction: column;
  min-height: 300px;
    height:300px;
}